[2021-04-20 19:37] iskra-anl commented on #131
In GitLab by @perarnau on May 1, 2019, 14:42

merged

[2021-04-20 19:37] iskra-anl commented on #131
In GitLab by @perarnau on May 1, 2019, 14:42

mentioned in commit 88858039bdc01edeb433c8c62fd444cac29cfa8e

[2021-04-20 19:37] #131 closed

[2021-04-20 19:37] iskra-anl opened #132 "Readthedocs on branch - [merged]"
In GitLab by @NicolasDenoyelle on May 2, 2019, 13:50

_Merges v0.0.x -> master_

Fix readthedocs trigger

[2021-04-20 19:37] iskra-anl commented on #132
In GitLab by @NicolasDenoyelle on May 2, 2019, 13:51

merged

[2021-04-20 19:37] iskra-anl commented on #132
In GitLab by @NicolasDenoyelle on May 2, 2019, 13:51

mentioned in commit 669cfa5f33e7a6caa0a76012d371f2af937b9985

[2021-04-20 19:37] #132 closed

[2021-04-20 19:37] iskra-anl opened #133 "add dependency - [merged]"
In GitLab by @NicolasDenoyelle on May 2, 2019, 14:10

_Merges doc -> master_

[2021-04-20 19:38] iskra-anl commented on #133
In GitLab by @NicolasDenoyelle on May 2, 2019, 14:17

added 1 commit

<ul><li>22f0459f - add tag for runners</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/56/diffs?diff_id=4542&start_sha=3e14fc24c5c230daefae452e11f2765304b3c6d9)

[2021-04-20 19:38] iskra-anl commented on #133
In GitLab by @NicolasDenoyelle on May 2, 2019, 14:19

added 3 commits

<ul><li>7e2cf8e5 - add tag for runners</li><li>8818d069 - add tag for runners</li><li>13ef74d6 - reorganize tags</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/56/diffs?diff_id=4543&start_sha=22f0459f38e81978127a24cd994eaa7359614236)

[2021-04-20 19:38] iskra-anl commented on #133
In GitLab by @NicolasDenoyelle on May 2, 2019, 14:27

merged

[2021-04-20 19:38] iskra-anl commented on #133
In GitLab by @NicolasDenoyelle on May 2, 2019, 14:27

mentioned in commit 8abeb0a25ff434a73919e0fd4b602092e12f2202

[2021-04-20 19:38] #133 closed

[2021-04-20 19:38] iskra-anl opened #134 "remove recommonmark - [merged]"
In GitLab by @NicolasDenoyelle on May 2, 2019, 14:52

_Merges recommonmark -> master_

[2021-04-20 19:38] iskra-anl commented on #134
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:19

merged

[2021-04-20 19:38] iskra-anl commented on #134
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:19

mentioned in commit ff611743a02c3abb876808b70a47fb36c964dacf

[2021-04-20 19:38] #134 closed

[2021-04-20 19:38] iskra-anl opened #135 "Run in nix env - [merged]"
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:33

_Merges CI -> master_

[2021-04-20 19:38] iskra-anl commented on #135
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:34

merged

[2021-04-20 19:38] iskra-anl commented on #135
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:34

mentioned in commit 6156e4b2e21c8c3d5db200c2da8ff862ae57ee16

[2021-04-20 19:38] #135 closed

[2021-04-20 19:38] iskra-anl opened #136 "fix CI - [merged]"
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:53

_Merges CI -> master_

[2021-04-20 19:38] iskra-anl commented on #136
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:56

added 1 commit

<ul><li>b5ba72fc - fix shebang</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/59/diffs?diff_id=4553&start_sha=f51649ea4c129454cf343fb4960e19910170f1dd)

[2021-04-20 19:38] iskra-anl commented on #136
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:57

merged

[2021-04-20 19:38] iskra-anl commented on #136
In GitLab by @NicolasDenoyelle on May 2, 2019, 15:57

mentioned in commit 07c35825f10401bdc666fa0e3c99aded4bd962d2

[2021-04-20 19:38] #136 closed

[2021-04-20 19:38] iskra-anl opened #137 "fix doxygen version on readthedocs - [merged]"
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:20

_Merges readthedocs -> master_

[2021-04-20 19:38] iskra-anl commented on #137
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:20

enabled an automatic merge when the pipeline for 964005ba3cf0a94042820dd2a1ac77acfed98af4 succeeds

[2021-04-20 19:38] iskra-anl commented on #137
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:20

canceled the automatic merge

[2021-04-20 19:38] iskra-anl commented on #137
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:20

enabled an automatic merge when the pipeline for 964005ba3cf0a94042820dd2a1ac77acfed98af4 succeeds

[2021-04-20 19:38] iskra-anl commented on #137
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:21

canceled the automatic merge

[2021-04-20 19:38] iskra-anl commented on #137
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:22

merged

[2021-04-20 19:38] iskra-anl commented on #137
In GitLab by @NicolasDenoyelle on May 2, 2019, 16:22

mentioned in commit 6d6b9e7596c5ac46336a66a998f53812d6fb0a8b

[2021-04-20 19:39] #137 closed

[2021-04-20 19:39] iskra-anl opened #138 "[ci] Moves the CI to Nix. - [merged]"
In GitLab by @freuk on May 9, 2019, 11:03

_Merges nixCI -> replicaset_

[2021-04-20 19:39] iskra-anl commented on #138
In GitLab by @freuk on May 9, 2019, 11:07

added 19 commits

<ul><li>089e66c4...4e8c08e5 - 18 commits from branch <code>replicaset</code></li><li>e10f344a - [ci] Moves the CI to Nix.</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/61/diffs?diff_id=4606&start_sha=089e66c4a5e8cd91efddf4f650b865911ab9d4f3)

[2021-04-20 19:39] iskra-anl commented on #138
In GitLab by @freuk on May 9, 2019, 18:52

added 3 commits

<ul><li>e10f344a...24bfa6d0 - 2 commits from branch <code>replicaset</code></li><li>1e84a751 - [ci] Moves the CI to Nix.</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/61/diffs?diff_id=4616&start_sha=e10f344ad991fd0cfd539c24143e45d110d9c65a)

[2021-04-20 19:39] iskra-anl commented on #138
In GitLab by @freuk on May 9, 2019, 19:00

added 3 commits

<ul><li>e10f344a - [ci] Moves the CI to Nix.</li><li>81775547 - Merge branch &#39;nixCI&#39; of xgitlab.cels.anl.gov:argo/aml into nixCI</li><li>289c6495 - checkpatch fix</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/61/diffs?diff_id=4617&start_sha=1e84a7510a8de753ebfa75c6b5b5241f01b55bb4)

[2021-04-20 19:39] iskra-anl commented on #138
In GitLab by @freuk on May 9, 2019, 19:11

added 1 commit

<ul><li>cc7f9e0a - checkpatch</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/61/diffs?diff_id=4619&start_sha=289c649558f33a4c7cbc813a345839418d4f5c60)

[2021-04-20 19:39] iskra-anl commented on #138
In GitLab by @freuk on May 10, 2019, 06:55

added 1 commit

<ul><li>087b29f5 - [fix] checkpatch</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/61/diffs?diff_id=4620&start_sha=cc7f9e0af991a2bdecbb4190da25085700c425c6)

[2021-04-20 19:39] iskra-anl commented on #138
In GitLab by @freuk on May 10, 2019, 07:07

merged

[2021-04-20 19:39] #138 closed

[2021-04-20 19:39] iskra-anl opened #139 "[doc] fix contributing link - [merged]"
In GitLab by @perarnau on May 31, 2019, 10:37

_Merges doc-contrib-fix -> master_

Closes #38.

Also adds a caption to the toctree.

[2021-04-20 19:39] iskra-anl commented on #139
In GitLab by @perarnau on Jun 3, 2019, 10:28

mentioned in commit db305dffb728e5c96def9fa08bdacaf08caf2083

[2021-04-20 19:39] iskra-anl commented on #139
In GitLab by @perarnau on Jun 3, 2019, 10:28

merged

[2021-04-20 19:39] #139 closed

[2021-04-20 19:39] iskra-anl opened #140 "Make out-of-tree build work - [merged]"
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 11:00

_Merges compilation -> master_

Started as a bug report from @cfoyer about out-of-tree errors and missed warnings during build.

Triggered !65, to enforce strict warning checks on all code during build.

Not much left here, but we still want to acknowledge the original reporter for his insights, as such, mark him as a contributor with sign-off

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 11:01

added 3 commits

<ul><li>88fc1578...db305dff - 2 commits from branch <code>master</code></li><li>555cd00c - include modifications for out of tree build. Credit: Clement Foyer&quot;</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5892&start_sha=88fc157872e57070ed8604dbbaf9ce995817

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 11:17

@perarnau can you check and hit merge if it works for you?

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @perarnau on Jun 26, 2019, 13:05

- Need a sign-off for Clement (DCO)
- Need a CI step do ensure that it keeps working
- Add Clement to authors

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 14:38

added 5 commits

<ul><li>88fc1578 - include modifications for out of tree build. Credit: Clement Foyer&quot;</li><li>b88bf42a - hide echo command but not echo itself</li><li>b881c71e - fix dist-hook useless if not building doc and creating error on make dist</li><li>722f44ac - add step to build out of tree from dist</li><li>0b711020 - Merge br

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 14:44

added 1 commit

<ul><li>7b679d0b - split rules of generic make in order to pinpoint compilation issues</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5896&start_sha=0b711020cc846f59da8ca2a573f10c80860f884a)

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 14:46

added 1 commit

<ul><li>23a1dc03 - split rules of generic make in order to pinpoint compilation issues</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5897&start_sha=7b679d0bfa34a35142f036fff4aff08efea3207c)

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 15:04

added 1 commit

<ul><li>042a8c0f - split rules of generic make in order to pinpoint compilation issues</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5898&start_sha=23a1dc037be49cdcc395a2e4543805321fd89fe7)

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 26, 2019, 15:16

added 1 commit

<ul><li>f66b14b8 - add clement foyer in authors list</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5900&start_sha=042a8c0f9b775f53fa6020eca0fb709fda1b6ef7)

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @perarnau on Jun 26, 2019, 16:34

Commented on [.gitlab-ci.yml line 42](https://github.com/anlsys/aml/compare/6d6b9e7596c5ac46336a66a998f53812d6fb0a8b..0f7070da5f22f6f97ea8cff01953a3db33d178d7#diff-96edf7a6f008de9e928d04e1ae5e12a5R42)

That's not an out-of-tree build ? I would have expected something like:
[code]
The `..` in `../configure` is the important part

[2021-04-20 19:39] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 27, 2019, 08:18

added 1 commit

<ul><li>88169d31 - build out of tree in CI</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5907&start_sha=f66b14b8be18da0c03f1a8d7d77047e9553534e9)

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 27, 2019, 08:29

added 1 commit

<ul><li>3c9841fa - miscellaneous fixes from cfoyer</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5909&start_sha=88169d313d6d1cf16ead240fbb78d9b098ccbc95)

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jun 27, 2019, 09:05

resolved all discussions

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jun 27, 2019, 09:30

added 1 commit

<ul><li>bf365272 - one job pipeline</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5911&start_sha=3c9841fac4853ee910cab61a9a130940f72059dc)

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jun 27, 2019, 10:40

Just realized that there's no unit test for `bitmap_copy_from_ulong`...could we add some ?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 11:13

Do I have to sign-off any commit or anything? Shall I redo them?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 1, 2019, 11:18

@cfoyer Can you rebase/squash and sign-off into one commit ? Thanks

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jul 1, 2019, 11:22

If you can do this:

[code]

Change 'pick' to 'edit' of commits:
* 88169d313d6d1cf16ead240fbb78d9b098ccbc95
* 3c9841fac4853ee910cab61a9a130940f72059dc

[code]

Modify commit message to add your signoff.

[code]

Modify commit message to add your signoff.

[code]

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 11:26

So should I squash bf36527 in it as well? Is there any style required for the comment (some specific tag maybe)?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @NicolasDenoyelle on Jul 1, 2019, 11:26

@perarnau is this correct?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 11:29

Potentially, if I leave it as two separated commit, I may have to "reword" instead of "edit". Do you prefer to see them as one?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 11:39

@NicolasDenoyelle Isn't it 88fc1578 (fix on Makefile.am) that I have to signoff instead of 88169d31 (update of the CI) ?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 12:28

added 10 commits

<ul><li>6ecf3c47 - [fix] Solve out-of-tree building issue</li><li>62f80d13 - hide echo command but not echo itself</li><li>d3b25c42 - fix dist-hook useless if not building doc and creating error on make dist</li><li>39036ea9 - add step to build out of tree from dist</li><li>13bb4b12 - [doc] fix contributing link</li><li>3f5c8688 - split

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 1, 2019, 12:49

keep the modifications to `.gitlab-ci.yml` aside, but you can squash everything else.

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 12:52

My contributions are now on 6ecf3c47 and 9d454696. Should I reorder the commits so I can squash them together, or just squash everything in between?

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 1, 2019, 12:56

Yes. I'll take care of everything else. Thanks!

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 1, 2019, 12:56

assigned to @perarnau

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @cfoyer on Jul 1, 2019, 13:02

resolved all discussions

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:04

changed title from **{-include modifications for out of tree build. Credit: Clement Foyer"-}** to **{+Make out-of-tree build work+}**

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:04

changed the description

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:06

@cfoyer after !65 and some squashing, there's not much left here. I've kept your out-of-tree flags suggestion though, as a way to acknowledge the bugs you uncovered.

Thank you very much again for taking the time to work with us on that.

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:08

Commented on [.gitlab-ci.yml line 42](https://github.com/anlsys/aml/compare/6d6b9e7596c5ac46336a66a998f53812d6fb0a8b..0f7070da5f22f6f97ea8cff01953a3db33d178d7#diff-96edf7a6f008de9e928d04e1ae5e12a5R42)

changed this line in [version 12 of the diff](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5983&start_sha=0f7070da5f22f6f97ea8c

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:08

added 24 commits

<ul><li>0f7070da...8d99c512 - 21 commits from branch <code>master</code></li><li>e722fcca - [fix] misc errors in make doc</li><li>208dfde9 - [ci/fix] ensure we test out-of-tree builds</li><li>2a2167ad - [fix] Clean-up out-of-tree building</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/6

[2021-04-20 19:40] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:09

enabled an automatic merge when the pipeline for 2a2167adc5f9449e97a01fc1bcf870293791d080 succeeds

[2021-04-20 19:41] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:24

added 1 commit

<ul><li>577bc63d - [fix] Clean-up out-of-tree building</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/63/diffs?diff_id=5984&start_sha=2a2167adc5f9449e97a01fc1bcf870293791d080)

[2021-04-20 19:41] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:26

enabled an automatic merge when the pipeline for 577bc63d2536110ee094f6b9509b007256f18620 succeeds

[2021-04-20 19:41] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:58

merged

[2021-04-20 19:41] iskra-anl commented on #140
In GitLab by @perarnau on Jul 2, 2019, 14:58

mentioned in commit c9d8ed8ca0968afae506ec0a18bedc0196d45a39

[2021-04-20 19:41] #140 closed

[2021-04-20 19:41] iskra-anl opened #141 "Improve configure script, header includes - [merged]"
In GitLab by @perarnau on Jun 27, 2019, 10:32

_Merges build-improvements -> master_

Trying to compile AML with other compilers or extra compiler flags shows that the build infra could be improved. Starting with configure and config.h...

This is just small stuff, we'll register more job steps soon to enforce more rules.

[2021-04-20 19:41] iskra-anl commented on #141
In GitLab by @perarnau on Jun 27, 2019, 10:33

merged

[2021-04-20 19:41] iskra-anl commented on #141
In GitLab by @perarnau on Jun 27, 2019, 10:33

mentioned in commit 506010453d113c88e0565186b7a6ccce7434940c

[2021-04-20 19:41] #141 closed

[2021-04-20 19:41] iskra-anl opened #142 "Better flags for CI - [merged]"
In GitLab by @perarnau on Jun 28, 2019, 09:24

_Merges better-flags-for-ci -> master_

Activate better compile flags in the CI, and fix the resulting errors discovered.

Quite a few problems with our build configuration were highlighted by this process.

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jun 28, 2019, 16:36

added 10 commits

<ul><li>3cd4f491...b1b6b9a1 - 3 commits from branch <code>master</code></li><li>7b88f936 - [ci] activate more warnings during compile</li><li>b50b8daa - [fix] errno is a reserved keyword in C</li><li>3039e985 - [fix] ignore unused parameters</li><li>90de388e - [fix] make sure to use the right size for indexes</li><li>c977842a - [fix]

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jun 28, 2019, 16:54

added 4 commits

<ul><li>8d48abd0 - [fix] make sure to use the right size for indexes</li><li>d6ab0e39 - [fix] additional includes, config.h needed</li><li>7b530d4d - [fix] various dma/area fixes after -Wall</li><li>3ba406e3 - [fix] extra fixes from warnings</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_request

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 10:30

added 11 commits

<ul><li>53bba037 - [ci] activate more warnings during compile</li><li>0423c32f - [fix] errno is a reserved keyword in C</li><li>2bbbd717 - [fix] ignore unused parameters</li><li>c0c9efeb - [fix] make sure to use the right size for indexes</li><li>750c304d - [fix] additional includes, config.h needed</li><li>1dcebe58 - [fix] various dm

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 10:42

added 1 commit

<ul><li>cd8b5081 - [ci] add configure log to error artefacts</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/65/diffs?diff_id=5975&start_sha=281c9e48bbc09f72579b737935d6bbf52584bbee)

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:03

added 1 commit

<ul><li>b03bb917 - [ci] add configure log to error artefacts</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/65/diffs?diff_id=5976&start_sha=cd8b5081d460f1757b6786ba0435f655c163ce88)

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:12

added 1 commit

<ul><li>1aca0040 - [ci] add configure log to error artefacts</li></ul>

[Compare with previous version](https://xgitlab.cels.anl.gov/argo/aml/merge_requests/65/diffs?diff_id=5977&start_sha=b03bb917de0940f58c8ab91d8bb581443ab3a638)

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:21

added 12 commits

<ul><li>180e894e - [ci] activate more warnings during compile</li><li>e9f00c09 - [fix] errno is a reserved keyword in C</li><li>b7c4451c - [fix] ignore unused parameters</li><li>53a03511 - [fix] make sure to use the right size for indexes</li><li>fddea6ed - [fix] additional includes, config.h needed</li><li>ba0737b7 - [fix] various dm

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:21

unmarked as a **Work In Progress**

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:22

changed the description

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:25

enabled an automatic merge when the pipeline for deb5a06de8843228298fbb17ad9872380d7b1bb0 succeeds

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:50

merged

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 11:50

mentioned in commit 8d99c512063c24a9a6066651d47bf6da7edf4f82

[2021-04-20 19:41] iskra-anl commented on #142
In GitLab by @perarnau on Jul 2, 2019, 14:04

mentioned in merge request !63

[2021-04-20 19:41] #142 closed

[2021-04-20 19:42] iskra-anl opened #143 "Generate user Makefiles for tutorials - [merged]"
In GitLab by @NicolasDenoyelle on Jan 31, 2020, 15:07

_Merges pkgconfig -> staging_

This merge request adds Makefiles to user tutorial instead of compilation script.
Makefiles are generated from a Makefile.in file and will set appropriate flags as detected by configure.

[2021-04-20 19:42] iskra-anl commented on #143
In GitLab by @NicolasDenoyelle on Jan 31, 2020, 15:08

Commented on [tutorials/area/Makefile.in line 3](https://github.com/anlsys/aml/compare/fadb2db84cd859429f1d6207b95139023deaf714..4462853c1fcb4065ac995bc92e5cfa909a81c361#diff-8bf9ae6a68ef6af6d976b481a3a420c7R3)

I don't know if we need to use pkgconfig here?
If yes, how?

[2021-04-20 19:42] iskra-anl commented on #143
In GitLab by @perarnau on Feb 3, 2020, 09:43

added 3 commits

<ul><li>b3d29771...fadb2db8 - 2 commits from branch <code>staging</code></li><li>4462853c - Add user Makefile generation at configure time</li></ul>

[Compare with previous version](/argo/aml/merge_requests/111/diffs?diff_id=8066&start_sha=b3d29771ffdd03a327bd06402e7685f62c1698a7)

[2021-04-20 19:42] iskra-anl commented on #143
In GitLab by @perarnau on Feb 3, 2020, 09:43

enabled an automatic merge when the pipeline for 4462853c1fcb4065ac995bc92e5cfa909a81c361 succeeds

[2021-04-20 19:42] iskra-anl commented on #143
In GitLab by @perarnau on Feb 3, 2020, 09:46

merged

[2021-04-20 19:42] iskra-anl commented on #143
In GitLab by @perarnau on Feb 3, 2020, 09:46

mentioned in commit 0d5480bb36ec53984216a1691c87f98b6ecca7ee

[2021-04-20 19:42] #143 closed

[2021-04-20 19:42] iskra-anl opened #144 "Make the tutorials available in the documentation - [merged]"
In GitLab by @perarnau on Feb 3, 2020, 13:13

_Merges tutorial-doc -> staging_

[2021-04-20 19:42] iskra-anl commented on #144
In GitLab by @perarnau on Feb 3, 2020, 15:23

added 10 commits

<ul><li>56046427...23d020e3 - 7 commits from branch <code>staging</code></li><li>921bd308 - [doc] move tutorials inside documentation</li><li>e6794588 - [bugfix] running make install twice fails for doc</li><li>5c2549ae - [doc] add first tutorial to the documentation.</li></ul>

[Compare with previous version](/argo/aml/merge_requests

[2021-04-20 19:42] iskra-anl commented on #144
In GitLab by @perarnau on Feb 3, 2020, 16:02

added 6 commits

<ul><li>fcf24f44 - [doc] move tutorials inside documentation</li><li>474db867 - [bugfix] running make install twice fails for doc</li><li>aeb8937c - [doc] add first tutorial to the documentation.</li><li>18157d1c - [doc] update copyright, authors list</li><li>96d35a4e - [doc] skeleton area tutorial</li><li>ec131e12 - [doc] custom css t

[2021-04-20 19:43] iskra-anl commented on #144
In GitLab by @perarnau on Feb 5, 2020, 08:14

added 9 commits

<ul><li>ec131e12...c576f875 - 2 commits from branch <code>staging</code></li><li>b34ebbd4 - [doc] move tutorials inside documentation</li><li>6ffccbf8 - [bugfix] running make install twice fails for doc</li><li>6d16e8ea - [doc] add first tutorial to the documentation.</li><li>e1e0332d - [doc] update copyright, authors list</li><li>70da

[2021-04-20 19:43] iskra-anl commented on #144
In GitLab by @perarnau on Feb 5, 2020, 08:34

unmarked as a **Work In Progress**

[2021-04-20 19:43] iskra-anl commented on #144
In GitLab by @perarnau on Feb 5, 2020, 08:36

added 1 commit

<ul><li>772587c2 - [doc] skeleton dma documentation page</li></ul>

[Compare with previous version](/argo/aml/merge_requests/112/diffs?diff_id=8083&start_sha=0e0a36da43c9fda42fe66c7ea1f9b94c4ed4a814)

[2021-04-20 19:43] iskra-anl commented on #144
In GitLab by @perarnau on Feb 5, 2020, 08:37

enabled an automatic merge when the pipeline for 772587c2a3f5b6699781218fe3cf28b2bedb27d0 succeeds

[2021-04-20 19:43] iskra-anl commented on #144
In GitLab by @perarnau on Feb 5, 2020, 08:40

merged

[2021-04-20 19:43] iskra-anl commented on #144
In GitLab by @perarnau on Feb 5, 2020, 08:40

mentioned in commit 1921699433200426e136ec3922ff06ad45b42a86

[2021-04-20 19:43] #144 closed

[2021-04-20 19:43] iskra-anl opened #145 "Add Layout tutorial - [merged]"
In GitLab by @perarnau on Feb 4, 2020, 11:51

_Merges tuto_layout -> staging_

Related to #64

[2021-04-20 19:43] iskra-anl commented on #145
In GitLab by @perarnau on Feb 5, 2020, 07:57

added 1 commit

<ul><li>e51158cb - unused variables</li></ul>

[Compare with previous version](/argo/aml/merge_requests/113/diffs?diff_id=8081&start_sha=f223143588d3f9d918edbf3f43a3a829653802dc)

[2021-04-20 19:43] iskra-anl commented on #145
In GitLab by @perarnau on Feb 5, 2020, 08:03

unmarked as a **Work In Progress**

[2021-04-20 19:43] iskra-anl commented on #145
In GitLab by @perarnau on Feb 5, 2020, 08:05

changed title from **Layout tutorial** to **{+Add +}Layout tutorial**

[2021-04-20 19:43] iskra-anl commented on #145
In GitLab by @perarnau on Feb 5, 2020, 08:05

merged

[2021-04-20 19:43] iskra-anl commented on #145
In GitLab by @perarnau on Feb 5, 2020, 08:05

mentioned in commit c576f87521f77b38321a4b743001867a0328c83c

[2021-04-20 19:43] #145 closed

[2021-04-20 19:43] iskra-anl opened #146 "WIP: Rst tutorial dma - [closed]"
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:20

_Merges rst_tutorial_dma -> staging_

Add sphinx tutorial documentation for sphinx

[2021-04-20 19:43] iskra-anl commented on #146
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:20

added 26 commits

<ul><li>bfc976af - 1 commit from branch <code>master</code></li><li>4796cfa3 - Inner malloc</li><li>405f1870 - Task and Scheduler Abstractions</li><li>cd17bd82 - [ci] Moving the &quot;out-of-tree&quot; and &quot;generic&quot; CI targets to Nix.</li><li>f9ed4385 - [ci] single quote glob patterns when listing files</li><li>c6082

[2021-04-20 19:43] iskra-anl commented on #146
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:20

marked as a **Work In Progress** from 90448610bea307840b62fdde97490390870f1351

[2021-04-20 19:43] iskra-anl commented on #146
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:20

changed target branch from `master` to `staging`

[2021-04-20 19:43] iskra-anl commented on #146
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:21

closed

[2021-04-20 19:43] #146 closed

[2021-04-20 19:43] iskra-anl opened #147 "Rst tutorial dma - [closed]"
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:22

_Merges rst_tutorial_dma -> staging_

Add sphinx doc tutorial for DMAs

[2021-04-20 19:43] iskra-anl commented on #147
In GitLab by @NicolasDenoyelle on Feb 5, 2020, 10:25

closed

[2021-04-20 19:43] #147 closed

[2021-04-20 19:48] iskra-anl opened #150 "[fix] Cleanup tiling abstraction. - [merged]"
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:19

_Merges tiling_cleanup -> staging_

* Remove `tileid()` method used by former scratchpad.
* Remove `tile_dims()` method that won't work with tree tilings.

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:20

Commented on [doc/tutorials/tiling/0_generic_resize_tiling.c line 64](https://github.com/anlsys/aml/compare/ff0b6ea4122a57d9d9d4267f5bb7ca992256deb6..64c133936585109ed0ca2f0a61bc1b98488c3ce9#diff-5d507d0110dffaf3ac75318e6b5cbdfeR64)

This part is a little tricky.
We set dims to 0 to obtain the layout in the first tile.
Then we reuse dims as ou

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:22

@perarnau check this out please.

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:44

Commented on [doc/tutorials/tiling/0_generic_resize_tiling.c line 64](https://github.com/anlsys/aml/compare/ff0b6ea4122a57d9d9d4267f5bb7ca992256deb6..64c133936585109ed0ca2f0a61bc1b98488c3ce9#diff-5d507d0110dffaf3ac75318e6b5cbdfeR64)

changed this line in [version 2 of the diff](/argo/aml/-/merge_requests/157/diffs?diff_id=10662&start_sha=64c13

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:44

added 1 commit

<ul><li>6a2f1bc5 - clang-format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/157/diffs?diff_id=10662&start_sha=192ab8d60f05d52c854171f4c56d0f62d568ccb8)

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:47

changed title from **Cleanup tiling abstraction.** to **{+[fix] +}Cleanup tiling abstraction.**

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @NicolasDenoyelle on Sep 15, 2020, 16:47

changed the description

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @perarnau on Sep 15, 2020, 16:56

Looks good

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @perarnau on Sep 15, 2020, 17:22

resolved all threads

[2021-04-20 19:48] iskra-anl commented on #150
In GitLab by @perarnau on Sep 15, 2020, 17:23

merged

[2021-04-20 19:48] #150 closed

[2021-04-20 19:48] iskra-anl opened #151 "[fix] initiator search - [merged]"
In GitLab by @NicolasDenoyelle on Sep 24, 2020, 14:43

_Merges hwloc_replicaset_fix -> staging_

Initiator search in `aml_replicaset_hwloc_local_replica()` was looking for parents that match the number of replicas.
It was suppose to look for parent that match the number of target initiators of the replicaset.

[2021-04-20 19:48] iskra-anl commented on #151
In GitLab by @perarnau on Sep 24, 2020, 14:59

mentioned in commit 48a6b5c7320cf7906840cd13af00275d11a8bd70

[2021-04-20 19:48] #151 closed

[2021-04-20 19:48] iskra-anl opened #152 "[fix] properly create destdir for html doc - [merged]"
In GitLab by @perarnau on Oct 1, 2020, 17:54

_Merges fix-doc-dest-mkdir -> v0.1.x_

Solve an issue where the destination directory for the documentation
was not created during install phase. Also cleanup the automake rules
for documentation.

See #76 for details.

[2021-04-20 19:48] iskra-anl commented on #152
In GitLab by @perarnau on Oct 1, 2020, 18:04

merged

[2021-04-20 19:48] iskra-anl commented on #152
In GitLab by @perarnau on Oct 1, 2020, 18:04

mentioned in commit 1560d0435e99e663baea4031eea2531e0b032d59

[2021-04-20 19:48] #152 closed

[2021-04-20 19:48] iskra-anl opened #153 "[fix] properly create destdir for html doc - [merged]"
In GitLab by @perarnau on Oct 1, 2020, 18:23

_Merges fix-staging-doc -> staging_

Solve an issue where the destination directory for the documentation
was not created during install phase. Also cleanup the automake rules
for documentation.

Fixes #76.

[2021-04-20 19:49] iskra-anl commented on #153
In GitLab by @perarnau on Oct 2, 2020, 10:21

@NicolasDenoyelle do you mind double-checking that ?

[2021-04-20 19:49] iskra-anl commented on #153
In GitLab by @perarnau on Oct 2, 2020, 15:46

added 10 commits

<ul><li>3844b9b5...b3a73be1 - 9 commits from branch <code>staging</code></li><li>6d29f26f - [fix] properly create destdir for html doc</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/161/diffs?diff_id=10804&start_sha=3844b9b5491c3b6680fbaddf01d9e5f4013f800f)

[2021-04-20 19:49] iskra-anl commented on #153
In GitLab by @perarnau on Oct 5, 2020, 09:08

merged

[2021-04-20 19:49] iskra-anl commented on #153
In GitLab by @perarnau on Oct 5, 2020, 09:08

mentioned in commit 1f041628bb2be1812414e97313e3d35f267b1fbe

[2021-04-20 19:49] #153 closed

[2021-04-20 19:49] iskra-anl opened #154 "[ci] vendor Nix packaging - [merged]"
In GitLab by @perarnau on Oct 2, 2020, 10:41

_Merges shell-pin-pkgs -> staging_

Localize the nix pkgs definitions to allow for more fine-grained dependency management.

Also updates some of our dependencies, breaking + updating a bunch of things in the process.

- hwloc is kept at a version old enough to make it easy
- doxygen is kept in line with previous CI step until we check the rtd infra

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @freuk on Oct 2, 2020, 11:27

added 1 commit

<ul><li>85264667 - [ci] Separating shell and packages in two Nix files.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/162/diffs?diff_id=10794&start_sha=6ef42fca50aed534afe5a50b5f6f20f50b320154)

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @freuk on Oct 2, 2020, 11:37

added 1 commit

<ul><li>5d77177f - [ci] Reverts doxygen to 1.8.14.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/162/diffs?diff_id=10795&start_sha=85264667b6c8437a595fbef081786feb5291d69e)

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @freuk on Oct 2, 2020, 11:44

changed title from **[ci] {-pin version of argopkgs we are us-}ing** to **[ci] {+vendor Nix packag+}ing**

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @freuk on Oct 2, 2020, 11:44

changed the description

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @perarnau on Oct 2, 2020, 11:45

changed the description

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @perarnau on Oct 2, 2020, 12:01

added 1 commit

<ul><li>719e2de8 - [fix] missing _GNU_SOURCE definition in places</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/162/diffs?diff_id=10797&start_sha=5d77177ff70a660aadf91f2cfc95fd804103cb18)

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @perarnau on Oct 2, 2020, 12:14

@NicolasDenoyelle can you help with the last valgrind errors? I'm not sure I understand that test.

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @NicolasDenoyelle on Oct 2, 2020, 15:01

added 1 commit

<ul><li>0fb45c0e - valgrind fixes</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/162/diffs?diff_id=10801&start_sha=719e2de8d04d953bd7a7178e8b4d50ecb4ae9afb)

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @NicolasDenoyelle on Oct 2, 2020, 15:02

added 1 commit

<ul><li>084fb7e7 - clang format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/162/diffs?diff_id=10802&start_sha=0fb45c0e270388b0426e7dc5b769269eb023a59b)

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @perarnau on Oct 2, 2020, 15:17

merged

[2021-04-20 19:49] iskra-anl commented on #154
In GitLab by @perarnau on Oct 2, 2020, 15:17

mentioned in commit 0827bffb90ab2d3930d57eda238b8c6963ceae89

[2021-04-20 19:49] #154 closed

[2021-04-20 19:49] iskra-anl opened #155 "[fix] Update hwloc version check to oldest supported hwloc version. - [merged]"
In GitLab by @NicolasDenoyelle on Oct 2, 2020, 11:08

_Merges hwloc-version-fix -> staging_

[2021-04-20 19:49] iskra-anl commented on #155
In GitLab by @NicolasDenoyelle on Oct 2, 2020, 11:09

added 3 commits

<ul><li>cc28bb30...48a6b5c7 - 2 commits from branch <code>staging</code></li><li>d993a0e1 - [fix] Update hwloc version check to oldest supported hwloc version.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/163/diffs?diff_id=10793&start_sha=cc28bb301b06d1ae103445b5d5f2ab7333596e81)

[2021-04-20 19:49] iskra-anl commented on #155
In GitLab by @perarnau on Oct 2, 2020, 15:30

added 8 commits

<ul><li>d993a0e1...0827bffb - 7 commits from branch <code>staging</code></li><li>e2765395 - [fix] Update hwloc version check to oldest supported hwloc version.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/163/diffs?diff_id=10803&start_sha=d993a0e1788471b116f284d447f47424fecd1c38)

[2021-04-20 19:49] iskra-anl commented on #155
In GitLab by @perarnau on Oct 2, 2020, 15:40

merged

[2021-04-20 19:49] iskra-anl commented on #155
In GitLab by @perarnau on Oct 2, 2020, 15:40

mentioned in commit b3a73be1056fb447635508f6475b249adce87e59

[2021-04-20 19:50] #155 closed

[2021-04-20 19:50] iskra-anl opened #156 "[ci] additional distribution check - [merged]"
In GitLab by @perarnau on Oct 2, 2020, 15:57

_Merges distcheck-ci -> staging_

Check that this version of the source can be packaged.

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 09:10

added 3 commits

<ul><li>91158e34...1f041628 - 2 commits from branch <code>staging</code></li><li>1e3d9fe6 - [ci] additional distribution check</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/164/diffs?diff_id=10809&start_sha=91158e340ca52fac17bee303c9dd3b8e69f78184)

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 09:36

added 3 commits

<ul><li>58897052 - [ci] rename ci stage</li><li>c2a10640 - [fix] update excit for distribution fixes</li><li>33f06ff4 - [fix] missing headers, include on a .c</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/164/diffs?diff_id=10811&start_sha=1e3d9fe65acf85c5cb78d27680efcd6dfabc368b)

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 09:51

@NicolasDenoyelle is that ok or do you prefer that I keep the `test_replicaset` header ?

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @NicolasDenoyelle on Oct 5, 2020, 09:54

I'd keep it. Replicaset is an abstraction.
We'd likely implement and use it on gpus also.
This is a generic replicase test.

Why do you want to remove it?

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 11:17

added 2 commits

<ul><li>b57188d7 - [fix] move common replicaset test in test lib</li><li>ff490f6b - [ci] add write permission to aml dist artefact</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/164/diffs?diff_id=10812&start_sha=33f06ff4a98094f36e01971f86d307b5f3e55ffa)

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 11:19

it was a `.c` file included directly into the test, which a good way to create nasty include errors in the future. I've create a second test library for that, that's fine.

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 11:19

resolved all threads

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 11:24

added 5 commits

<ul><li>49e3a9c6 - [ci] additional distribution check</li><li>1e71770e - [fix] update excit for distribution fixes</li><li>3c3ea431 - [fix] missing headers, include on a .c</li><li>13af96be - [fix] move common replicaset test in test lib</li><li>f4ca5afd - [ci] add write permission to aml dist artefact</li></ul>

[Compare with previous

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 11:25

added 6 commits

<ul><li>1f041628 - 1 commit from branch <code>staging</code></li><li>4ff69c4d - [ci] additional distribution check</li><li>65909645 - [fix] update excit for distribution fixes</li><li>6295df05 - [fix] missing headers, include on a .c</li><li>773f131f - [fix] move common replicaset test in test lib</li><li>08b4ff8f - [ci] add write perm

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 11:46

added 1 commit

<ul><li>b0a3bce5 - [fix] make test libs dependencies of check rule</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/164/diffs?diff_id=10815&start_sha=08b4ff8faa2c60c2b0688dba01f20d40eead46e6)

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 12:05

merged

[2021-04-20 19:50] iskra-anl commented on #156
In GitLab by @perarnau on Oct 5, 2020, 12:05

mentioned in commit 4366715561b42c922169c1b4a2b43d0dbf4d7fc3

[2021-04-20 19:50] #156 closed

[2021-04-20 19:50] iskra-anl opened #157 "[fix] Export pkg-config flags for cuda and hwloc - [merged]"
In GitLab by @NicolasDenoyelle on Oct 20, 2020, 12:02

_Merges pkg_config_flags -> staging_

`pkg-config --libs aml` and `pkg-config --cflags aml` now gives the correct set of flags.

Fix #74

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @NicolasDenoyelle on Oct 20, 2020, 12:05

@perarnau please check this MR.

I tested with options `--with-cuda` and `--with-cuda=no`. It is working and flags look ok to me.

Note that it would be nice to setup a CI stage where we try to build a dummy app linked with aml.

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @perarnau on Oct 20, 2020, 12:18

Commented on [configure.ac line 169](https://github.com/anlsys/aml/compare/4366715561b42c922169c1b4a2b43d0dbf4d7fc3..86404e4145c350fd1b25312e78fde77569ff375d#diff-67e997bcfdac55191033d57a16d1408aR169)

Already done a few lines below ?

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @perarnau on Oct 20, 2020, 12:39

I agree, installcheck is very tricky to figure out in general, but maybe we can find a way to leverage the nix environment for that.

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @perarnau on Oct 20, 2020, 12:39

changed the description

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @NicolasDenoyelle on Oct 20, 2020, 14:47

Commented on [configure.ac line 169](https://github.com/anlsys/aml/compare/4366715561b42c922169c1b4a2b43d0dbf4d7fc3..86404e4145c350fd1b25312e78fde77569ff375d#diff-67e997bcfdac55191033d57a16d1408aR169)

changed this line in [version 2 of the diff](/argo/aml/-/merge_requests/165/diffs?diff_id=10936&start_sha=86404e4145c350fd1b25312e78fde77569ff3

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @NicolasDenoyelle on Oct 20, 2020, 14:48

added 1 commit

<ul><li>500dcec1 - [fix] Export pkg-config flags for cuda and hwloc</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/165/diffs?diff_id=10936&start_sha=86404e4145c350fd1b25312e78fde77569ff375d)

[2021-04-20 19:50] iskra-anl commented on #157
In GitLab by @NicolasDenoyelle on Oct 20, 2020, 14:48

@perarnau ready when the pipeline goes through.

[2021-04-20 19:51] iskra-anl commented on #157
In GitLab by @perarnau on Oct 20, 2020, 14:55

resolved all threads

[2021-04-20 19:51] iskra-anl commented on #157
In GitLab by @perarnau on Oct 20, 2020, 14:55

merged

[2021-04-20 19:51] iskra-anl commented on #157
In GitLab by @perarnau on Oct 20, 2020, 14:55

mentioned in commit 2910ba2c31d735dbde9a43cf7d04a7689d2e60e4

[2021-04-20 19:51] #157 closed

[2021-04-20 19:51] iskra-anl opened #158 "Default dma for linux - [merged]"
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:27

_Merges default_dma -> staging_

Create default dma for linux.
The goal is to be able to make short examples tests.

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:28

added 1 commit

<ul><li>ae0233f7 - Clang format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/166/diffs?diff_id=11309&start_sha=89aba0c312daf790355d20fa2b95ead1ae7b5ea1)

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:31

added 2 commits

<ul><li>af578e1f - doc</li><li>8a2231cc - doc</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/166/diffs?diff_id=11310&start_sha=ae0233f764bf9c43bbde6619cf689b4c05c6dc52)

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:43

added 1 commit

<ul><li>840e9e58 - Doc name conflicts</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/166/diffs?diff_id=11311&start_sha=8a2231ccf0e85fb206a6b0e84c23bb91d1147d03)

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:45

@perarnau
Take a look at this. When the CI goes through, it is ready to merge.

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:46

Commented on [include/aml.h line 49](https://github.com/anlsys/aml/compare/2910ba2c31d735dbde9a43cf7d04a7689d2e60e4..840e9e58e16b38f4e37a601adeffb755e20c4f21#diff-c0160f08e82bce5e369b2c2d9d510e59L49)

This is creating an error on my system.
The CI works with or without.

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @perarnau on Dec 3, 2020, 15:52

Commented on [include/aml.h line 49](https://github.com/anlsys/aml/compare/2910ba2c31d735dbde9a43cf7d04a7689d2e60e4..840e9e58e16b38f4e37a601adeffb755e20c4f21#diff-c0160f08e82bce5e369b2c2d9d510e59L49)

you should check that one of the utils headers is not missing one, might be a case of a doc group not properly closed.

Doc building should crash though

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @NicolasDenoyelle on Dec 3, 2020, 15:57

Commented on [include/aml.h line 49](https://github.com/anlsys/aml/compare/2910ba2c31d735dbde9a43cf7d04a7689d2e60e4..840e9e58e16b38f4e37a601adeffb755e20c4f21#diff-c0160f08e82bce5e369b2c2d9d510e59L49)

Ok I just checked the headers of `aml.h` before the error on this braces. It seems that this braces are not supposed to be here. Everything befor

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @perarnau on Dec 3, 2020, 16:11

resolved all threads

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @perarnau on Dec 3, 2020, 16:14

merged

[2021-04-20 19:51] iskra-anl commented on #158
In GitLab by @perarnau on Dec 3, 2020, 16:14

mentioned in commit 610cc3efa876af7e930fa2d7c3d4d7c06eb4688f

[2021-04-20 19:51] #158 closed

[2021-04-20 19:51] iskra-anl opened #159 "Remove Cuda Layout - [merged]"
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 10:37

_Merges no_layout_cuda -> staging_

As the title says, this MR removes cuda layout.

Overall, layouts should not be backend specific and include other informations than the data layout.
If specific information relative to the destination needs to be passed to the dma, it should rather be embedded
in the copy operator arguments or the dma data s

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 10:39

added 1 commit

<ul><li>5b46a311 - doc</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/167/diffs?diff_id=11324&start_sha=05f0067d0b30cc3f58cd16ed0bcce134ebbaf6fb)

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 10:42

@perarnau
Please check this out.
Read the description before going through the changes.

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 10:42

changed the description

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 10:42

changed target branch from `master` to `staging`

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 11:36

added 2 commits

<ul><li>a7ba5966 - Remove cuda layout.</li><li>03007fea - Remove cuda device compilation.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/167/diffs?diff_id=11326&start_sha=5b46a3116fd67e9e927bdd5781dedb164bead6e1)

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 11:37

changed the description

[2021-04-20 19:51] iskra-anl commented on #159
In GitLab by @perarnau on Dec 4, 2020, 11:40

enabled an automatic merge when the pipeline for 03007fea0a72f03f3420029a0c1c05cecaa93ab3 succeeds

[2021-04-20 19:52] iskra-anl commented on #159
In GitLab by @perarnau on Dec 4, 2020, 11:41

canceled the automatic merge

[2021-04-20 19:52] iskra-anl commented on #159
In GitLab by @NicolasDenoyelle on Dec 4, 2020, 11:49

added 2 commits

<ul><li>724b5594 - Remove device code compilation</li><li>ad2d1dce - Remove cuda layouts.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/167/diffs?diff_id=11327&start_sha=03007fea0a72f03f3420029a0c1c05cecaa93ab3)

[2021-04-20 19:52] iskra-anl commented on #159
In GitLab by @perarnau on Dec 4, 2020, 13:09

merged

[2021-04-20 19:52] iskra-anl commented on #159
In GitLab by @perarnau on Dec 4, 2020, 13:09

mentioned in commit 1b8d5db58027ebdd82414a021edf1c858e51345a

[2021-04-20 19:52] #159 closed

[2021-04-20 19:52] iskra-anl opened #160 "[cleanup] Sparse layouts - [merged]"
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:41

_Merges no_sparse_layout -> staging_

Sparse layout was the first prototype of aml mapper.
This MR removes as we don't intend to use it in favor of a feature complete mapper.

[2021-04-20 19:52] iskra-anl commented on #160
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:49

@perarnau ready to merge

[2021-04-20 19:52] iskra-anl commented on #160
In GitLab by @perarnau on Dec 9, 2020, 10:54

added 6 commits

<ul><li>0cb1314f...59070b5e - 5 commits from branch <code>staging</code></li><li>b32bbdc2 - [cleanup] Remove unused prototype</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/168/diffs?diff_id=11389&start_sha=0cb1314f8a5eda06746c8ffb8fd6162522f7375b)

[2021-04-20 19:52] iskra-anl commented on #160
In GitLab by @perarnau on Dec 9, 2020, 10:55

enabled an automatic merge when the pipeline for b32bbdc24d9756a4af0932e9c8852f7ef0248138 succeeds

[2021-04-20 19:52] iskra-anl commented on #160
In GitLab by @perarnau on Dec 9, 2020, 11:10

merged

[2021-04-20 19:52] iskra-anl commented on #160
In GitLab by @perarnau on Dec 9, 2020, 11:10

mentioned in commit ff3cd379f0fc7af8e1ac03b52e14f6648e110ba0

[2021-04-20 19:52] iskra-anl opened #161 "[fix] Tutorial with map anonymous - [merged]"
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:50

_Merges fix_tuto_map_anonymous -> staging_

Replace mmap call with malloc call to avoid MAP_ANONYMOUS compatibility issues.

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:51

changed target branch from `master` to `staging`

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:56

added 6 commits

<ul><li>28e9e5c1...59070b5e - 5 commits from branch <code>staging</code></li><li>8eb3c4ec - Fix replace mmap with malloc to avoid map_anonymous warning</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/169/diffs?diff_id=11392&start_sha=28e9e5c13a3e141b4e148106128d949383d98c97)

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:57

@perarnau ready to merge on pipeline success.

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 11:09

changed title from **[{-F-}ix] Tutorial with map anonymous** to **[{+f+}ix] Tutorial with map anonymous**

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @perarnau on Dec 9, 2020, 13:42

added 3 commits

<ul><li>8eb3c4ec...ff3cd379 - 2 commits from branch <code>staging</code></li><li>7b3fe6c2 - Fix replace mmap with malloc to avoid map_anonymous warning</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/169/diffs?diff_id=11394&start_sha=8eb3c4ecad2eaf8e34c7495a899d9b24b96fbeef)

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @perarnau on Dec 9, 2020, 13:42

enabled an automatic merge when the pipeline for 7b3fe6c2269d0895ab3188f19a5e8a5effc6e2c3 succeeds

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @perarnau on Dec 9, 2020, 13:54

merged

[2021-04-20 19:52] iskra-anl commented on #161
In GitLab by @perarnau on Dec 9, 2020, 13:54

mentioned in commit 949a7717244409cbcfbdc828803ee39a74def4f1

[2021-04-20 19:52] #161 closed

[2021-04-20 19:52] iskra-anl opened #162 "[feature] Area Cuda Unified - [merged]"
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:55

_Merges area_cuda_unified -> staging_

Add default cuda area to map unified memory.

[2021-04-20 19:52] iskra-anl commented on #162
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:55

changed target branch from `master` to `staging`

[2021-04-20 19:52] iskra-anl commented on #162
In GitLab by @NicolasDenoyelle on Dec 9, 2020, 10:58

@perarnau
Ready for review.
Then, autorebase -> pipeline success -> merge

[2021-04-20 19:53] iskra-anl commented on #162
In GitLab by @perarnau on Dec 9, 2020, 14:27

added 10 commits

<ul><li>5210ac9e...949a7717 - 9 commits from branch <code>staging</code></li><li>ca02014e - [feature] Add default cuda area to allocate unified memory.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/170/diffs?diff_id=11397&start_sha=5210ac9e9e8c9735beefefdc484c386a0d5a2000)

[2021-04-20 19:53] iskra-anl commented on #162
In GitLab by @perarnau on Dec 9, 2020, 14:28

enabled an automatic merge when the pipeline for ca02014e611f0428cf4d3797b32a603c7b621674 succeeds

[2021-04-20 19:53] iskra-anl commented on #162
In GitLab by @perarnau on Dec 9, 2020, 14:33

merged

[2021-04-20 19:53] iskra-anl commented on #162
In GitLab by @perarnau on Dec 9, 2020, 14:33

mentioned in commit 83e7c188170f7de24cadb74d2fdeb91e2c460f7e

[2021-04-20 19:53] #162 closed

[2021-04-20 19:53] iskra-anl opened #163 "Configure Uniform Tests - [merged]"
In GitLab by @NicolasDenoyelle on Mar 15, 2021, 13:00

_Merges configure_posix -> staging_

Remove non-POSIX syntax for tests in configure.ac
Closes #78.

[2021-04-20 19:53] iskra-anl commented on #163
In GitLab by @perarnau on Mar 15, 2021, 13:51

added 5 commits

<ul><li>24d7705e...6f236d1f - 4 commits from branch <code>staging</code></li><li>095741b7 - uniform configure test syntax</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/174/diffs?diff_id=12180&start_sha=24d7705e923b3360454859baea338b7a8f77b8d4)

[2021-04-20 19:53] iskra-anl commented on #163
In GitLab by @perarnau on Mar 15, 2021, 13:52

changed the description

[2021-04-20 19:53] iskra-anl commented on #163
In GitLab by @perarnau on Mar 15, 2021, 13:52

enabled an automatic merge when the pipeline for 095741b77529b07f6da120fb82b590016727cc14 succeeds

[2021-04-20 19:53] iskra-anl commented on #163
In GitLab by @perarnau on Mar 15, 2021, 14:00

merged

[2021-04-20 19:53] iskra-anl commented on #163
In GitLab by @perarnau on Mar 15, 2021, 14:00

mentioned in commit 299d86d337f9649a2307092efd55525f09c4f1fd

[2021-04-20 19:53] #163 closed

[2021-04-20 19:53] iskra-anl opened #164 "CPP Compilation Guards - [merged]"
In GitLab by @NicolasDenoyelle on Mar 15, 2021, 13:35

_Merges cpp_header -> staging_

If the AML header are compiled with a C++ compiler, e.g in a C+++ application, it is important that AML function call are not mangled so that the linker can match them with the AML library.
To this end, as requested in issue #79, AML headers now include the guard:
[code]

[2021-04-20 19:53] iskra-anl commented on #164
In GitLab by @perarnau on Mar 15, 2021, 13:40

merged

[2021-04-20 19:53] iskra-anl commented on #164
In GitLab by @perarnau on Mar 15, 2021, 13:40

mentioned in commit 3c63a9ca75206a8cf0b8c43107c0b108d0c2d5a2

[2021-04-20 19:53] #164 closed

[2021-04-20 19:53] iskra-anl opened #165 "Level Zero Areas - [merged]"
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 16:55

_Merges level_zero -> staging_

* Adds runtime features support check in aml features.
* Adds compilation toolchain checks for level zero.
* Adds implementation of `area` block for Level Zero backend.
* Adds unit tests for ze areas.

[2021-04-20 19:53] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 16:55

@perarnau @Kerilk, Can you take a look and leave me your opinion?

[2021-04-20 19:53] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 16:56

BTW, tests are working on my laptop but we need a CI step with Level Zero enabled machine.

[2021-04-20 19:53] iskra-anl commented on #165
In GitLab by @perarnau on Mar 19, 2021, 17:14

Commented on [configure.ac line 98](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..a88edc9f3aaa5a832d88e09198dd241d04334fad#diff-67e997bcfdac55191033d57a16d1408aR98)

Looks like ze_loader is supposed to come with a pkg-config file. `PKG_CHECK_MODULES` should work, and is probably cleaner.

[2021-04-20 19:53] iskra-anl commented on #165
In GitLab by @perarnau on Mar 19, 2021, 17:17

Commented on [include/aml/area/ze.h line 45](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..38b56b97612d8766edf56030e2fd588527bac956#diff-9694146b0c671da734e1447d84e75c27R45)

We're using #defines instead of enums for CUDA, so let's keep it consistent.

Also, to be consistent it should be values (1 << 1), (1 << 2), (1

[2021-04-20 19:53] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 17:19

Commented on [configure.ac line 98](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..a88edc9f3aaa5a832d88e09198dd241d04334fad#diff-67e997bcfdac55191033d57a16d1408aR98)

Indeed. I thought it did not but `pkg-config --list-all` tells me otherwise.
I'll fix that.

[2021-04-20 19:53] iskra-anl commented on #165
In GitLab by @Kerilk on Mar 19, 2021, 17:22

Commented on [include/aml/area/ze.h line 45](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..38b56b97612d8766edf56030e2fd588527bac956#diff-9694146b0c671da734e1447d84e75c27R45)

see: https://github.com/oneapi-src/level-zero/blob/0d30b1fa712253c68bfdfa3863d380df4301b8a4/include/ze_api.h#L4072-L4081

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @perarnau on Mar 19, 2021, 17:33

Looks good overall. My biggest concern is the error handling, I think we should aim for a single function that can convert between ze errors and aml error codes. We can add aml error codes if needed, maybe at least one or two for driver error and device oom.

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 17:37

added 1 commit

<ul><li>38b56b97 - pkg-config instead of handcrafted configure check</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12240&start_sha=10a0cff3e056fa7591a3fcff78301509e642992f)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 17:41

Commented on [include/aml/area/ze.h line 45](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..38b56b97612d8766edf56030e2fd588527bac956#diff-9694146b0c671da734e1447d84e75c27R45)

I want the flag SHARED to contain the flag Device to check with a single test whether device allocation is implied or not.
Beside that,

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @Kerilk on Mar 19, 2021, 17:44

Commented on [include/aml/area/ze.h line 45](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..38b56b97612d8766edf56030e2fd588527bac956#diff-9694146b0c671da734e1447d84e75c27R45)

Of course it is compiled away. It should be `AML_AREA_ZE_MMAP_HOST_FLAGS = 0x1` `AML_AREA_ZE_MMAP_DEVICE_FLAGS = 0x2` `AML_AREA_ZE_MMAP_SHARED_FLA

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 17:46

Commented on [include/aml/area/ze.h line 45](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..38b56b97612d8766edf56030e2fd588527bac956#diff-9694146b0c671da734e1447d84e75c27R45)

changed this line in [version 3 of the diff](/argo/aml/-/merge_requests/176/diffs?diff_id=12241&start_sha=38b56b97612d8766edf56030e2fd58

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 17:46

added 1 commit

<ul><li>e9ef78cc - Use define directive instead of enum to keep consistency within the library</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12241&start_sha=38b56b97612d8766edf56030e2fd588527bac956)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 19, 2021, 17:48

Commented on [include/aml/area/ze.h line 45](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..38b56b97612d8766edf56030e2fd588527bac956#diff-9694146b0c671da734e1447d84e75c27R45)

Please check out this update. Resolve the thread if it suits you. Otherwise let me know what to change.

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @Kerilk on Mar 19, 2021, 17:49

Commented on [include/aml/area/ze.h line 40](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..e9ef78cca536d3dc88915280d354c17fa2a577ac#diff-9694146b0c671da734e1447d84e75c27R40)

1UL << 0

1UL << 1

`AML_AREA_ZE_MMAP_HOST_FLAGS` | `AML_AREA_ZE_MMAP_DEVICE_FLAGS`

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 10:57

Commented on [include/aml/area/ze.h line 40](https://github.com/anlsys/aml/compare/299d86d337f9649a2307092efd55525f09c4f1fd..e9ef78cca536d3dc88915280d354c17fa2a577ac#diff-9694146b0c671da734e1447d84e75c27R40)

changed this line in [version 4 of the diff](/argo/aml/-/merge_requests/176/diffs?diff_id=12246&start_sha=e9ef78cca536d3dc88915280d354c1

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 10:57

added 1 commit

<ul><li>a3b17f25 - quick flag fix</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12246&start_sha=e9ef78cca536d3dc88915280d354c17fa2a577ac)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 10:57

added 1 commit

<ul><li>d204da08 - clang-format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12247&start_sha=a3b17f25f6179d769848ca6a7a9e09b475516ea5)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 11:02

This a more general problem: how do we translate from a backend error code to an AML error code.
One way to do so could be to have an error code: `AML_EBACKEND` to signal a backend error and add a `aml_backend_error` variable for further handling of the error.

Additionally, in the current implementation of `ze` areas, some error code will tra

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @perarnau on Mar 22, 2021, 11:20

On error codes:
The two traditional approaches in software architecture for that are to either:
- do error code conversion, meaning having a set of error codes shared across the library that are used to provide an approximation of the error occurred
- provide an extra value in the error return type that is the underlying backend error value.

The over

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 14:52

added 1 commit

<ul><li>11cd4877 - Generic error conversion</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12257&start_sha=d204da084ef9972c04b7a8a3c69c77acfed1570b)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:27

added 2 commits

<ul><li>355c265b - move error translation to area</li><li>8450f3b0 - clang format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12259&start_sha=11cd48777c472d5530d63ffb76c33ffcc2aea7fb)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @perarnau on Mar 22, 2021, 15:30

resolved all threads

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:31

added 1 commit

<ul><li>762f975a - move error translation to area</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12261&start_sha=8450f3b0213e95c54e480ad1bfcf92f07157e51c)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:33

added 2 commits

<ul><li>b972ebb4 - clang format</li><li>06a98022 - diff pollution</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12262&start_sha=762f975a1a49c3d74ceaa7cbd4e9a092669e72af)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:34

added 1 commit

<ul><li>69082d8b - diff pollution</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12263&start_sha=06a9802215f8863f2d6aedbb3b947a39349b01b8)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:36

added 1 commit

<ul><li>5c67f994 - clang format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12264&start_sha=69082d8bdef813262945aef728565e7e1ca9b8d8)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:37

added 1 commit

<ul><li>63a874b4 - level zero detection, initialization and area implementation.</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12265&start_sha=5c67f99452e3253b72a63c03b08c310aea2c32ce)

[2021-04-20 19:54] iskra-anl commented on #165
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 15:38

added 1 commit

<ul><li>12198cf6 - typos</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/176/diffs?diff_id=12266&start_sha=63a874b464998afcc82e8c107db9f2d247eaf4a3)

[2021-04-20 20:35] iskra-anl opened #166 "Display missing implementations in doc - [merged]"
In GitLab by @NicolasDenoyelle on Mar 22, 2021, 16:19

_Merges doc-implementations -> staging_

[2021-04-20 20:35] iskra-anl commented on #166
In GitLab by @perarnau on Mar 22, 2021, 16:22

Thanks!

[2021-04-20 20:35] iskra-anl commented on #166
In GitLab by @perarnau on Mar 22, 2021, 16:22

enabled an automatic merge when the pipeline for e70712bf04a7e173772d817f4581dfbb4522149e succeeds

[2021-04-20 20:35] iskra-anl commented on #166
In GitLab by @perarnau on Mar 22, 2021, 16:24

merged

[2021-04-20 20:35] iskra-anl commented on #166
In GitLab by @perarnau on Mar 22, 2021, 16:24

mentioned in commit b0e5f9211ae217f3dfaeb67037afc61a63f72af8

[2021-04-20 20:35] #166 closed

[2021-04-20 20:35] iskra-anl opened #167 "Ze Area Tweaks - [merged]"
In GitLab by @NicolasDenoyelle on Mar 26, 2021, 15:26

_Merges ze_area_tweaks -> staging_

* Simplify a little ze area structure.
* Pre-instanciate one area for each device at init instead of one area for the first device only.
* Some additional cleanups on headers, typos

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Mar 26, 2021, 15:31

@perarnau Please take a look at this.
As I am working on the dma block, I figured out it might be useful to associate areas and dma which may
have the same underlying hardware engine (the device).
Therefore I wanted to make area a little cleaner
so that the dma block can be cleaner as well lending areas attributes.
I also figured out it might

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 1, 2021, 10:56

added 1 commit

<ul><li>0bc01805 - Use device specific context when possible</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12437&start_sha=c0ac7a8ce25c4b81a73d219c970b36083a2fbf76)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 1, 2021, 14:35

added 1 commit

<ul><li>e583ceb9 - clang format</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12441&start_sha=0bc0180540340262a8e77904b84b96f4bf187cff)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 11:10

added 1 commit

<ul><li>ba165766 - WIP</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12445&start_sha=e583ceb9d34d611db77a4ded132de4888fac9d01)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 11:10

marked as a **Work In Progress** from ba165766d63a9102daba37dd20e02fadd5066c44

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 11:16

added 1 commit

<ul><li>4e8d9f89 - * Better Area creation interface for device only with ordinal</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12446&start_sha=ba165766d63a9102daba37dd20e02fadd5066c44)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 11:30

added 1 commit

<ul><li>56d0388d - * Better Area creation interface for device only with ordinal</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12447&start_sha=4e8d9f89abb03d5add9418fd87761aec42020186)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 13:23

added 1 commit

<ul><li>3cc2cbfc - WIP: test fix</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12449&start_sha=56d0388dced5714b5c30dfb04ff829012decf29f)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:08

added 1 commit

<ul><li>2de15f4c - fix tests and missing makefile flags</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12450&start_sha=3cc2cbfc4abf0855f9e9b8635d9231a05eb97803)

[2021-04-20 20:35] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:10

Commented on [benchmarks/Makefile.am line 21](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-9e73e492966576ded8bfbc05158614d1R21)

Benchmarks compilation fail with missing symbols if not set.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:10

Commented on [doc/tutorials/Makefile.am line 22](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-770540ae28fcc9d80f5d4b1565c38b50R22)

Tutorials  compilation fail with missing symbols if not set.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:12

Commented on [include/aml/area/ze.h line 40](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-9694146b0c671da734e1447d84e75c27L40)

This area is made for devices exclusively.
1. The host interface does not make much sense to use as it has less features than libnuma or

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:13

Commented on [include/aml/area/ze.h line 50](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-9694146b0c671da734e1447d84e75c27L50)

This is not used anywhere now so we remove it.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:14

Commented on [include/aml/area/ze.h line 53](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27R53)

No need for a pointer, this is always set now.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:14

Commented on [include/aml/area/ze.h line 95](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27R95)

This is an important part that was missed. It allows to pick a sub memory in inside the device.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:17

Commented on [src/aml.c line 36](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-165550d71edbe353db5a8f924118f01eR36)

The function `aml_errno_from_ze_result(ze_result_t err)` is moved to `utils/error.c`.
It is already used in `aml.c` and `area/ze.c`. This a rather la

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:19

Commented on [src/area/ze.c line 97](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-adf79276c2f1e9ab048c5694593a0ec9R97)

There's a new function `zeContextCreateEx()` which allows to create a context for a specific device. Unfortunately it is not available in ze 1.0.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:20

Commented on [tests/area/test_ze.c line 10](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-7a01ccd9a34fe06ac8bd522ec5eb3bf5L10)

useless

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 5, 2021, 12:34

added 1 commit

<ul><li>f89c1158 - fix aml.pc flags</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12459&start_sha=2de15f4cfa601ecc706e6563807b1f5c78444b44)

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 09:24

Commented on [aml.pc.in line 9](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-9af505c45b28d284fdb595671fb94a8fL9)

Try to have all uppercase configure variables in .in files and .am files.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 09:33

Commented on [include/aml/area/ze.h line 104](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27L104)

Make this create as a create device, then make another create for hosts.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 09:34

Commented on [include/aml/area/ze.h line 41](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27R41)

Do not use zero starting flags.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 09:40

Commented on [tests/area/test_ze.c line 18](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-7a01ccd9a34fe06ac8bd522ec5eb3bf5L18)

Remove this header that is already part of main header everywhere.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 09:45

Commented on [tests/area/test_ze.c line 25](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f96b121309b7ef904e43f86fd36e0f262870d245#diff-7a01ccd9a34fe06ac8bd522ec5eb3bf5R25)

Do a pass to check expected failures.

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:15

Commented on [include/aml/area/ze.h line 53](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27R53)

changed this line in [version 11 of the diff](/argo/aml/-/merge_requests/178/diffs?diff_id=12474&start_sha=f89c115888101eeda3f5230ecabd80

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:15

Commented on [include/aml/area/ze.h line 95](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27R95)

changed this line in [version 11 of the diff](/argo/aml/-/merge_requests/178/diffs?diff_id=12474&start_sha=f89c115888101eeda3f5230ecabd80

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:15

Commented on [include/aml/area/ze.h line 104](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27L104)

changed this line in [version 11 of the diff](/argo/aml/-/merge_requests/178/diffs?diff_id=12474&start_sha=f89c115888101eeda3f5230ecabd

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:15

Commented on [include/aml/area/ze.h line 41](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-9694146b0c671da734e1447d84e75c27R41)

changed this line in [version 11 of the diff](/argo/aml/-/merge_requests/178/diffs?diff_id=12474&start_sha=f89c115888101eeda3f5230ecabd80

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:15

Commented on [tests/area/test_ze.c line 18](https://github.com/anlsys/aml/compare/b0e5f9211ae217f3dfaeb67037afc61a63f72af8..f89c115888101eeda3f5230ecabd80a2185887f2#diff-7a01ccd9a34fe06ac8bd522ec5eb3bf5L18)

changed this line in [version 11 of the diff](/argo/aml/-/merge_requests/178/diffs?diff_id=12474&start_sha=f89c115888101eeda3f5230ecabd80a

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:15

added 3 commits

<ul><li>2e78cad8 - Uppercase flags</li><li>2d6526a3 - MR fiixes</li><li>417cea2b - CI-checks</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12474&start_sha=f89c115888101eeda3f5230ecabd80a2185887f2)

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:18

added 1 commit

<ul><li>084b09e4 - fix missing method declaration in header</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12475&start_sha=417cea2bab7d84fde2bbf0397a7ce8a85164bc18)

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:19

resolved all threads

[2021-04-20 20:36] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:19

added 1 commit

<ul><li>df16f3f1 - CI-checks</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12476&start_sha=084b09e41716ea59d3649b3f130be1d9b0760307)

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:22

@perarnau
Ready to merge if it is good for you.

Pay attention to the `aml_area_ze_data` structure as it contains an `union`.
This is used to factorize some area data code depending on weather we are expecting host or device allocation. It would not be a big deal to make it a different structure for host and devices.

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:29

added 1 commit

<ul><li>48ac98e6 - simplify upper case prefix</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12477&start_sha=df16f3f1281cf3b7f96850300d257b85024ed310)

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 11:40

added 1 commit

<ul><li>f96b1213 - fix noise</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/178/diffs?diff_id=12478&start_sha=48ac98e6b16b250c083f5fb3be23ffff3d53fc08)

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @perarnau on Apr 7, 2021, 11:57

unmarked as a **Work In Progress**

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @perarnau on Apr 7, 2021, 11:58

changed the description

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @perarnau on Apr 7, 2021, 11:58

assigned to @perarnau

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @perarnau on Apr 7, 2021, 11:58

merged

[2021-04-20 20:37] iskra-anl commented on #167
In GitLab by @perarnau on Apr 7, 2021, 11:58

mentioned in commit 0f4d391edf63c346e88916ce1c853c0295db2e65

[2021-04-20 20:37] #167 closed

[2021-04-20 20:37] iskra-anl opened #168 "[feature] Ze DMA - [merged]"
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:23

_Merges ze_dma -> staging_

Implementation of aml dma using ze backend.

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @NicolasDenoyelle on Apr 2, 2021, 16:26

added 1 commit

<ul><li>499de1d2 - fix doc</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/179/diffs?diff_id=12452&start_sha=03b5443a1ce307eeedd9daeac15a305316f5dd83)

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 09:54

Commented on [src/dma/ze.c line 129](https://github.com/anlsys/aml/compare/0f4d391edf63c346e88916ce1c853c0295db2e65..2c53abff7e656af339b2509278abf63802096b7f#diff-1e63c3abeea2f34e8a9a0a5cede36671R129)

Do as cuda,
Move the assumption, that layout is continuous and contiguous into a copy operator rather than the dma itself. It reduces the burden

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @NicolasDenoyelle on Apr 7, 2021, 13:29

added 9 commits

<ul><li>499de1d2...0f4d391e - 2 commits from branch <code>staging</code></li><li>714984d4 - Compiling ze dma</li><li>423d4085 - Default dma instanciation</li><li>a9a88c6c - Compiling tests</li><li>8971466e - Working tests</li><li>7d906a9b - fix doc</li><li>911a87a2 - do assumption on layout shape in copy operator</li><li>712d28

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @NicolasDenoyelle on Apr 8, 2021, 13:47

added 1 commit

<ul><li>2c53abff - remove extra aml error conversion</li></ul>

[Compare with previous version](/argo/aml/-/merge_requests/179/diffs?diff_id=12497&start_sha=712d287161ea118b83857e79237c60d0f4cc6ed2)

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @perarnau on Apr 8, 2021, 15:35

changed title from **Ze DMA** to **{+[feature] +}Ze DMA**

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @perarnau on Apr 8, 2021, 15:35

assigned to @perarnau

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @perarnau on Apr 8, 2021, 15:36

merged

[2021-04-20 20:37] iskra-anl commented on #168
In GitLab by @perarnau on Apr 8, 2021, 15:36

mentioned in commit 715a4251877097b27b0f77470cce5cf3e54a89f6

[2021-04-20 20:37] #168 closed

[2021-04-20 20:37] iskra-anl opened #169 "Fix Missing Documentation of Ze DMA - [merged]"
In GitLab by @NicolasDenoyelle on Apr 9, 2021, 09:23

_Merges dma_doc_fix -> staging_

[2021-04-20 20:37] iskra-anl commented on #169
In GitLab by @NicolasDenoyelle on Apr 9, 2021, 09:23

@perarnau
Fixed! You can merge after the CI pass.

[2021-04-20 20:37] iskra-anl commented on #169
In GitLab by @perarnau on Apr 9, 2021, 09:25

thanks!

[2021-04-20 20:37] iskra-anl commented on #169
In GitLab by @perarnau on Apr 9, 2021, 09:25

enabled an automatic merge when the pipeline for a9523c788fe005bf5fedac31dfd5c136a3be77c4 succeeds

[2021-04-20 20:37] iskra-anl commented on #169
In GitLab by @perarnau on Apr 9, 2021, 09:28

merged

[2021-04-20 20:38] iskra-anl commented on #169
In GitLab by @perarnau on Apr 9, 2021, 09:28

mentioned in commit 81982cd0f13fd73478a4bb40f884dbc70ee0e9f5

[2021-04-20 20:38] #169 closed

[2021-04-20 20:40] #165 closed

[2021-04-21 21:33] Kerilk opened #170 "Dead code produces warning"
Code in https://github.com/anlsys/aml/blob/master/benchmarks/utils.c seems to be unused and the `namespace` variable is not defined.

[2021-04-22 19:57] NicolasDenoyelle opened #173 "Repository Cleanup (Persisting Issue)"
Comments under this issue list several cleanup actions to take and their motivations.

[2021-04-23 14:19] perarnau commented on #173
Since we have a full backup on xgitlab, I'm going through the branch list and deleting stuff that will never get merged, or was forgotten:
- CI_cuda: leftover cuda test on gitlab, we went a different way
- accelerate-ci: leftover nix config for gitlab ci. Was merged in some way but not deleted.
- checkpatch: unsuccessful attempt at -Wall -Werror, ended up in a different direction later.
- noarena:

[2021-04-23 14:54] #72 closed

[2021-04-23 14:54] #71 closed

[2021-04-23 17:16] #170 closed

[2021-04-27 15:11] perarnau commented on #73
@NicolasDenoyelle I believe the main XSBench repo has the integration with aml right ? We could make a step that builds the two together. Can it run in a VM ?

[2021-04-27 15:14] perarnau commented on #68
Fixed already.

[2021-04-27 15:14] #68 closed

[2021-04-28 15:32] NicolasDenoyelle commented on #173
I will not be missing these branches. You can go ahead and remove these branches.

I would add the following branch in the delete batch:
* `dma_cleanup`: We did not end up approving the changes and they were not critical. As the master branches moves forward, it is getting harder to use this work than redoing it from scratch.

[2021-04-28 15:35] NicolasDenoyelle opened #180 "Runtime Version Check for Cuda and OpenCL"
* Cuda version is not checked in configure.
* Cuda and OpenCL version need to be checked at runtime -- when checking backend support -- so that headers match AML linked libraries version.

[2021-04-28 15:39] NicolasDenoyelle commented on #73
The main [XSBench](https://github.com/ANL-CESAR/XSBench) repo has AML replicaset feature integrated in the `master` branch indeed.
It is enabled by compiling it as follow:
[code]

[2021-04-28 15:43] NicolasDenoyelle opened #181 "Configure Enabled Features and Backend Summary"
Create a human readable report at the end of configure to easily check enabled features and backends.

[2021-04-28 15:58] NicolasDenoyelle opened #182 "Default DMA memcpy Operation."
The proposed is feature consist in adding a default operator in DMA abstraction that would perform copy of a contiguous
chunk of data into a non-overlapping region.

Providing such method in the abstraction makes sense since all available backends (linux, cuda, OpenCL, level_zero) do provide a `memcpy` functionality. There currently only few rarely used accelerated copies for 2D/3D matrices and no

[2021-04-28 16:40] perarnau commented on #180
Yes. We might need to pay attention to semver on those checks, as in theory the headers & lib just need to be ABI compatible, not equal. If I recall properly it means major-version matches only.

[2021-06-23 18:44] #181 closed

[2021-07-26 06:31] jenny-cheung opened #203 "A potential deadlock error due to cyclic order on lock acqusitions"
https://github.com/anlsys/aml/blob/5a5fb7edbab59eaa413afd8f342460087765c5c2/src/utils/async.c#L92

[code]

[code]

[2021-07-26 06:38] jenny-cheung commented on #203
Dear developers, thank you for your checking!

This deadlock case is warned by our static code analysis tool.  The functions `aml_active_sched_num_tasks` and `aml_task *aml_active_sched_wait_any` may be executed by different threads. A deadlock may occur resulting from one thread executing the `aml_active_sched_num_tasks` method, acquiring the lock` s->workq_lock` first, and waiting for the lock

[2021-07-26 06:48] jenny-cheung commented on #203
By the way, this case just possibly occurs, because the two functions may not be executed concurrently by two threads. But they are indeed not thread-safe and it is worth fixing because the use of multiple locks should follow a certain order to avoid deadlock. Maybe one day they are involved mistakenly one day that triggers a real deadlock. There is a useful reference about [lock discipline](https

[2021-07-26 14:21] NicolasDenoyelle commented on #203
Dear jenny-cheung,
Thank you for opening an issue about this problem.
There was indeed a deadlock in the code you described, as well as in other places in this file.
These have been fixed in the master branch recently as we started using this piece of code in some part of the library.

We hope not to have left any but there is only so few the human eye can catch.
Therefore, we will be investigatin

[2021-07-26 14:27] #203 closed

[2021-07-26 14:31] jenny-cheung commented on #203
@NicolasDenoyelle Thank you for your reply and confirmation. I am developing a static tool for concurrency bugs to help the improvement of software reliability. If I find more bugs, I will report to you : )

[2021-07-26 14:56] NicolasDenoyelle commented on #76
Describe CI steps and how to perform checks locally to avoid overwhelming the CI.

[2021-08-04 20:07] perarnau opened #205 "doc building doesn't check for breathe"
The `configure.ac` logic to detect if docs can be built does not check if the breathe python module is available, resulting in setups were doxygen and sphinx are detected (and thus docs are configured to be built) but the build fails because of a missing python module.

We should make sure that the detected sphinx setup is working, either by detecting the python package (`ax_python_module`?) or ru

[2021-08-21 06:30] jenny-cheung opened #206 "Null Pointer dereference on aml_dma_linux_par_fini"
Hi all,
       it seems there is an NPD bug on the below codes.

[code]
[code]

[2021-09-07 08:25] jenny-cheung commented on #206
Hi, developers @perarnau @NicolasDenoyelle

Any comments would be highly appreciated. Thank you.

Best Regards,

[2021-09-07 13:10] perarnau commented on #206
Hi,

Sorry for the delay. I believe this is a false positive, the vector_get is protected by a check on vector_size, so req cannot be null inside the for loop.

Thanks for the report anyway.

[2021-09-07 13:10] #206 closed

[2021-09-09 02:30] jenny-cheung commented on #206
@perarnau Thank you for your explanation!

[2021-10-01 19:30] perarnau opened #214 "Spack Improvements"
Our current spack package doesn't deal with most of the options available in the configure.
- make sure we understand how spack deals with standard "--with" or "--enable"
- possibly modify/standardize configure script for it

[2021-10-29 13:22] ryancaicse opened #215 "Some improper locking bugs"
Dear developers, in below codes, the lock `data->lock ` (Line **572**) is directly destroyed (Line **632**) without releasing before, which is a undefined behaviour, according to the pthread APIs. It's better to release it before destroying it.

https://github.com/anlsys/aml/blob/e834133fb3123da613bd85191b8474d28889ecae/src/allocator/buddy.c#L575-L602

[2022-01-18 04:01] ryancaicse commented on #215
@NicolasDenoyelle Could you take a look? Thanks

[2022-01-19 14:24] NicolasDenoyelle commented on #215
@ryancaicse Thanks for noticing this.
I am going to send a PR about it today.
In the future, if you find easy fixes like that feel free to send us a PR about it. Contributors are welcome.

[2022-01-19 15:02] #215 closed

[2022-01-19 15:07] perarnau commented on #52
Fixed since then

[2022-01-19 15:07] #52 closed

[2022-02-25 20:11] perarnau commented on #214
Done during the last PR to spack for aml

[2022-02-25 20:11] #214 closed

[2022-11-21 19:42] jfinney10 opened #225 "Spack build process does not include excit submodule"
On Crusher at ORNL, building AML works as expected via `spack install aml%gcc@12.1.0`.  However when running the spack test command, `excit` is not found.

Concretized spec is shown here:
[code]

Spack test output here (truncated):
[code]

To verify that `excit` was not pulled in via spack, I did `spack install --keep-stage aml%gcc@12.1.0`, then inspected the source directories and did not see the